# Authentication
STANDARD_USER=
STANDARD_PASS=

# Base URL
BASE_URL=[automationteststore.com](https://automationteststore.com)

# Registration test user
USER_NAME=
PASSWORD=
TEST_EMAIL=
TEST_PASSWORD=

# Optional faker seed
FAKER_SEED=123
