# Authentication
STANDARD_USER=
STANDARD_PASS=

# Base URL
BASE_URL=

# Registration test user (optional)
TEST_EMAIL=
TEST_PASSWORD=
USER_NAME=Test0505
PASSWORD=Testuser@0505

# Optional faker seed
FAKER_SEED=
